<!-- <div data-role="view" data-title="About" id="about" data-transition="fade">
    <ul data-role="listview" data-source="About.data" data-template="about-template"></ul>
    
</div>  -->
<div data-role="view" data-title="About" >
    <div data-role="listview" data-title="About" id="about" data-source="About.data" data-template="about-template" data-transition="fade"></div>
</div>

<script type="text/x-kendo-template" data-source="About.data" id="about-template">
    <div class="aboutImage"><img src="#: image_url #" />
    </div>
    <div class="aboutTitle">#: name #</div>
    <div class="aboutInfo">#: info #</div>
</script>