
    <div class="km-modalview km-view" data-role="view" id="modalview-login" style="width: 100%; height: auto;" data-style="inset">
        <div class="km-header" data-role="header">
            <div class="km-navbar" data-role="navbar">
                <div class="km-view-title">
                    <span>Login</span>
                </div>
            </div>
        </div>
        <div class="km-listview-wrapper">
            <ul class="km-listview km-list km-listinset" data-role="listview" data-style="inset">
                <li>
                    <label for="username">Username:</label>
                    <input type="text" id="username" />
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" id="password" />
                </li>
            </ul>
        </div>
        <div id="login-message"></div>
        <a class="km-button" data-click="authenticateUser" id="modalview-login-button" data-role="button"><span class="km-text">Login</span></a><br />
    </div>
 
    <script>
 
        function authenticateUser() {
            var userName = $("#username").val();
            var password = $("#password").val();
            var $msg = $("#login-message");
 
            $.ajax({
                url: "/fakeaccount/_login",
                data: { UserName: userName, Password: password, RememberMe: false },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    if (data.Success) {
                        $msg.hide();
                        app.navigate("");
                    } else {
                        $msg.html(data.Message).show();
                    }
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText)
                }
            });
        }
 
    </script>
