<div data-role="view" data-title="Profiles" id="profiles" data-transition="fade">
    <ul data-role="listview" data-source="Profiles.data" data-template="profiles-template"></ul>  
</div> 
<!-- <div data-role="view" data-title="Profiles" >
    <div data-role="listview" data-title="Profiles" id="profile" data-source="Profiles.data" data-template="profiles-template" data-transition="fade"></div>
</div> -->
 
<script type="text/x-kendo-template" id="profiles-template">
 <!--   <a href="views/scripts.html?##id=#: Patient_ID #"> -->
    <a href="views/scripts.html"> 
        <div class="bookTitle">#: Pharmacy_ID #</div>
        <div class="bookAuthor">#: Patient_ID #</div>
        <div class="bookAuthor">#: Patient_ID_Name #</div>
    </a>
</script>